
body {
  font-family: Tahoma, sans-serif;
}
 
 main {
   display: inline-grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-column-gap: 2em;

   #update_1 {
     display: grid;
     align-content: end;
     width: 20em;
     height: 15em;
     background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ), url(../images/alpha3_update.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: 50% 50%;
   }

   #update_2 {
     @extend #update_1 ;
     background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ), url(../images/circulators_update.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
   }

   #update_3 {
     @extend #update_1 ;
     background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.4)
    ), url(../images/scala2_update.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
   }

   h3, p {
     color: #fcfcfc;
     align-self: end;
     text-shadow: 0 1px 0 black;
   }

   p {
     align-self: end;
   }
   .updateModal {
     position: fixed;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.8);
     z-index: 99999;
     opacity: 0;
     transition: opacity 400ms ease-in;
     pointer-events: none;
   }
   .updateModal:target {
     opacity: 1;
     pointer-events: auto;
   }
   .updateModal > div {
     width: 500px;
     position: relative;
     margin: 10% auto;
     background: #fafafa;
     border-radius: 10px;
   }
   .close {
     background: #606061;
     color: #ffffff;
     line-height: 25px;
     position: absolute;
     right: -15px;
     top: -10px;
     width: 25px;
     text-align: center;
     text-decoration: none;
     font-weight: bold;
     border-radius: 10px;
     box-shadow: 1px 1px 3px #000;
   }
   .close:hover {
     background-color: #00d9ff;
   }

 }
